* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1e1e1;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    
}

#header {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa; 
    
}
#content {
    grid-row-start: 2;
    grid-row-end: 15;
    
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
 
#booking-container {
    width: 900px;
    height: 230px;
    
    border-radius: 10px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: auto;



}

#tripdetails {
    width: 700px;
    height: 50px;
    background-color: #f5f0f0;
    border-radius: 5px;
    
}

#booking-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Kanit', sans-serif;    
    
    
}

#home {
    font-size: 24px;
    margin-left: 14px;
    padding-bottom: 12px;
    font-family: 'Kanit', sans-serif;
    color: #4EA891;
    text-decoration: none;
    font-weight: 700;

}

    #links {
        
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    }

    #cart {
        font-size: 18px;
        margin-right: 14px;
        padding-bottom: 3px;
        font-family: 'Kanit', sans-serif;
        color: black;
        text-decoration: none;
    }

    #booking {
        font-size: 18px;
        margin-left: 18px;
        margin-right: 20px; 
        padding-bottom: 3px;
        font-family: 'Kanit', sans-serif;
        color: black;
        text-decoration: none;
        
    }

 #mybooking {
    text-align: center;
    margin-bottom: 23px;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    font-weight: 200;
    font-weight: 400;
 }

 #enjoy {
    text-align: center;
    margin-top: 20px;
    color: #4EA891;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
 }

#stick {
    width: 170px;
    height: 0px;
    border-bottom: 2px solid #e5e6e8;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}
