* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #b6b3b3;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    border: 1px solid red;
}

#header {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d5d3d3; 
    border: 1px solid red;
}
#content {
    grid-row-start: 2;
    grid-row-end: 15;
    border: 1px solid red;
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
 
#booking-container {
    width: 900px;
    height: 230px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: auto;



}

#mybookings {
    width: 700px;
    height: 50px;
    border: 1px solid red;
}



#home {
    font-size: 24px;
    margin-left: 14px;
    padding-bottom: 12 px;
    font-family: 'Kanit', sans-serif;
    color: #4EA891;
    text-decoration: none;
    font-weight: 700;

}

#links {
    
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 10x;
}

 #cart {
    font-size: 18px;
    margin-right: 14px;
    padding-bottom: 3px;
    font-family: 'Kanit', sans-serif;
    color: black;
    text-decoration: none;
 }

 #booking {
    font-size: 18px;
    margin-left: 18px;
    margin-right: 20px; 
    padding-bottom: 3px;
    font-family: 'Kanit', sans-serif;
    color: black;
    text-decoration: none;
 }
